<div>
    <h2 class="text-center" style="background: white">Price compare</h2>
    <div class="row-fluid">
        <div class="span6  product">
            <div ng-class="{'cheeper':cheeper1, 'expensive':!cheeper1 && result}">
                <div class="text-center">
                    <h3>Product 1</h3>
                    <div class="input-prepend input-block-level">
                        <span class="add-on"><i class="icon-barcode"></i></span>
                        <input class="input-medium " type="number" required ng-model="amount1" placeholder="Units">
                    </div>
                    <div class="input-prepend input-block-level">
                        <span class="add-on"><i class="icon-asterisk"></i></span>
                        <input class="input-medium " type="number" step="any" ng-model="price1" placeholder="Price">
                    </div>
                </div>
            </div>
        </div>
        <div class="span6 product">
            <div ng-class="{'cheeper':!cheeper1 && result, 'expensive':cheeper1 }">
                <div class="text-center">
                    <h3>Product 2</h3>
                    <div class="input-prepend input-block-level">
                        <span class="add-on"><i class="icon-barcode"></i></span>
                        <input class="input-medium " type="number" required ng-model="amount2" placeholder="Units">
                    </div>
                    <div class="input-prepend input-block-level">
                        <span class="add-on"><i class="icon-asterisk"></i></span>
                        <input class="input-medium " type="number" step="any" required ng-model="price2" placeholder="Price">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div>
        <ul>
            <li ng-repeat="message in messages">{{message}}
            </li>
        </ul>
    </div>
    <div class="pagination-centered">
        <button class="btn-primary btn-large" ng-click="calc()">Calculate</button>
    </div>
</div>
